:root {
    --main-color: #302b63;
    --main-color-light-opacity: #c6c1fa;
    --main-color-opacity: #302b63ec;
    --main-dark-color: #0e0b2c;
    --main-dark-color-opacity: #0e0b2c;
    --grey-color: rgb(77, 77, 77);
    --grey-color-light: #ccc;
    --white-color: #fff;
    --dark-color: rgb(43, 42, 42);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    font-weight: 400;
    color: var(--grey-color)
}